.header {
  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  border-bottom: 1px solid rgb(209, 201, 201);
  z-index: 100;
}

.left-section {
  display: flex;
  align-items: center;
}

.hamburger-menu {
  height: 24px;
  margin-left: 24px;
  margin-right: 24px;
}

.youtube-logo {
  height: 20px;
}

.middle-section {
  flex: 1;
  margin-left: 70px;
  margin-right: 35px;
  max-width: 500px;
  display: flex;
  align-items: center;
}

.search-bar {
  flex: 1;
  height: 36px;
  font-size: 16px;
  border: 1px solid rgb(192, 192, 192);
  border-radius: 2px;
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
  width: 0;
}
.search-bar::placeholder {
  font-size: 16px;
  padding-left: 16px;
}

.search-button {
  cursor: pointer;
  height: 40px;
  width: 66px;
  background-color: rgb(240, 240, 240);
  border: 1px solid rgb(192, 192, 192);
  margin-left: -1px;
  margin-right: 10px;
  position: relative;
}

.search-button .tooltip {
  position: absolute;
  background-color: gray;
  color: white;
  padding: 4px 8px;
  border-radius: 2px;
  font-size: smaller;
  bottom: -30px;
  opacity: 0;
  transition: opacity 0.2s;
  pointer-events: none;
}

.search-button:hover .tooltip {
  opacity: 1;
}
.search-icon {
  height: 20px;
  margin-top: 4px;
}
.voice-search-button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 40px;
  width: 40px;
  border-radius: 20px;
  border: none;
  background-color: rgb(243, 243, 243);
}

.voice-search-button .tooltip {
  position: absolute;
  background-color: gray;
  color: white;
  padding: 4px 8px;
  border-radius: 2px;
  font-size: smaller;
  bottom: -30px;
  opacity: 0;
  transition: opacity 0.2s;
  pointer-events: none;
  white-space: nowrap;
}

.voice-search-button:hover .tooltip {
  opacity: 1;
}
.voice-search-icon {
  height: 24px;
}
.right-section {
  margin-right: 20px;
  display: flex;
  flex-direction: row;
  width: 180px;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
}

@media (max-width: 450px) {
  .right-section .upload-icon-container,
  .right-section .youtube-apps-container,
  .right-section .notification-icon-container {
    display: none;
  }
.right-section .current-user-pictures-icon{
    margin-right: 15px;
  }
  
}
.upload-icon,
.youtube-apps-icon,
.notifications-icon {
  height: 25px;
}

.upload-icon-container,
.youtube-apps-container,
.notification-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.upload-icon-container .tooltip,
.youtube-apps-container .tooltip,
.notification-icon-container .tooltip {
  position: absolute;
  background-color: gray;
  color: white;
  padding: 4px 8px;
  border-radius: 2px;
  font-size: smaller;
  bottom: -30px;
  opacity: 0;
  transition: opacity 0.2s;
  pointer-events: none;
  white-space: nowrap;
}

.upload-icon-container:hover .tooltip,
.youtube-apps-container:hover .tooltip,
.notification-icon-container:hover .tooltip {
  opacity: 1;
}
.notification-icon-container {
  position: relative;
}
.notifications-count {
  position: absolute;
  right: -2px;
  top: -3px;
  color: white;
  background-color: rgb(250, 0, 0);
  padding: 3px;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  font-weight: bold;
}
.current-user-pictures-icon {
  height: 32px;
  border-radius: 16px;
}

